snippet main "main function for c"
int main (void) {
	$1
}
endsnippet

snippet for 
for (int ${1:i}=0; ${2:i} < $3; ${4:i}++){
	$5
}
endsnippet

snippet if 
if ($1){
	$2
}
endsnippet

snippet function "function constructor"
${1:type-name} ($2) {
	$3
}
endsnippet

snippet comment "comentario"
/* $1 */
endsnippet
