snippet if "if statement"
if ($1){
	$2
} else {
	$3
}
endsnippet

snippet function "function declaration"
function $1 ($2) {
	$3
}
endsnippet

snippet while "while declaration"
while ($1) {
	$2
}
endsnippet

snippet for "for declaration"
for (i=0, $1, i++) {
	$2
}
endsnippet

snippet clog "console.log declaration"
console.log($1);
endsnippet
